body {
  text-align: center;
}

h1 {
  font-family: 'Ranchers', cursive;
  font-size: 82px;
  text-shadow: 4px 4px #fff;
}
.counter {
  position: absolute;
  top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 0.1em;
  font-size: 3ch;
  font-family: Arial, Helvetica, sans-serif;
}
.item {
  width: 100px;
  position: relative;
  --x: 0;
  --y: 0;
  --rotateX: 0;
  --rotate: 0;
  transform: translateX(var(--x)) translateY(var(--y)) rotateY(var(--rotateX))
    rotate(var(--rotate));
  transition: transform 0.2s;
}
